{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>{{ _('About') }}</h1>
        <p>
        {{ _('pyAggr3g470r is a news aggregator platform and can be shared between several users.') }}
        {{ _('You can easily install pyAggr3g470r on your server.') }}
        {{ _('Alternatively, you can deploy your own copy using this button:') }}</p>
        <a class="reference external image-reference" href="https://heroku.com/deploy?template=https://github.com/cedricbonhomme/pyAggr3g470r"><img alt="https://www.herokucdn.com/deploy/button.png" src="https://www.herokucdn.com/deploy/button.png" /></a></p>
        <p>{{ _('This software is under AGPLv3 license. You are welcome to copy, modify or
        redistribute the <a href="https://bitbucket.org/cedricbonhomme/pyaggr3g470r">source code</a>
        according to the <a href="https://www.gnu.org/licenses/agpl-3.0.html">Affero GPL</a> license.') }}</p>
        <p>{{ _('Found a bug? Report it <a href="https://bitbucket.org/cedricbonhomme/pyaggr3g470r/issues">here</a>.') }}</p>
    </div>
    <div class="jumbotron">
        <h1>{{ _('Help') }}</h1>
        <p>{{ _('If you have any problem, <a href="http://wiki.cedricbonhomme.org/contact">contact</a> the administrator.') }}</p>
        <p>{{ _('The documentation of the RESTful API is <a href="https://bitbucket.org/cedricbonhomme/pyaggr3g470r#rst-header-web-service">here</a>.') }}</p>
        <p>{{ _('You can subscribe to new feeds with a bookmarklet. Drag <a href="%(bookmarklet)s">this link</a> to your browser bookmarks.', bookmarklet='javascript:window.location="https://pyaggr3g470r.herokuapp.com/bookmarklet?url="+encodeURIComponent(document.location)') }}</p>
    </div>
    <div class="jumbotron">
        <h1>{{ _('Donation') }}</h1>
        <p>{{ _('If you wish and if you like pyAggr3g470r, you can donate via bitcoin <a href="https://blockexplorer.com/address/1GVmhR9fbBeEh7rP1qNq76jWArDdDQ3otZ">1GVmhR9fbBeEh7rP1qNq76jWArDdDQ3otZ</a>. Thank you!') }}</p>
    </div>
</div><!-- /.container -->
{% endblock %}