{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>{{ action }}</h1>
        <form action="" method="post" name="save">
            {{ form.hidden_tag() }}

            {{ form.link.label }}
            {{ form.link(class_="form-control") }} {% for error in form.link.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

            {{ form.title.label }}
            {{ form.title(class_="form-control", placeholder="Optional") }} {% for error in form.title.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

            {{ form.site_link.label }}
            {{ form.site_link(class_="form-control", placeholder="Optional") }} {% for error in form.site_link.errors %} <span style="color: red;">{{ error }}<br /></span>{% endfor %}

            {% if not_on_heroku %}
                {{ form.email_notification.label }}
                {{ form.email_notification(class_="checkbox") }}
            {% endif %}

            {{ form.enabled.label }}
            {{ form.enabled(class_="checkbox") }}

            <br />
            {{ form.submit(class_="btn") }}
        </form>
    </div>
</div><!-- /.container -->
{% endblock %}
