{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h2>{{ feed.title }}</h2>
        {% if feed.description %} <p>{{ feed.description }}</p> {% endif %}
        <a href="/delete_feed/{{ feed.id }}"><i class="glyphicon glyphicon-remove" title="{{ _('Delete this feed') }}" onclick="return confirm('{{ _('You are going to delete this feed.') }}');"></i></a>
        <a href="/edit_feed/{{ feed.id }}"><i class="glyphicon glyphicon-edit" title="{{ _('Edit this feed') }}"></i></a>
    </div>
    <div class="jumbotron">
        <p>
        {{ _('This feed contains') }} {{ feed.articles.all()|count }} <a href="/articles/{{ feed.id }}/100">{{ _('articles') }}</a>
        {% if nb_articles != 0 %}
            ({{ ((feed.articles.all()|count * 100 ) / nb_articles) | round(2, 'floor') }}% {{ _('of the database') }})
        {% endif %}
        .<br />
        {{ _('Address of the feed') }}: <a href="{{ feed.link }}">{{ feed.link }}</a><br />
        {% if feed.site_link != "" %}
            {{ _('Address of the site') }}: <a href="{{ feed.site_link }}">{{ feed.site_link }}</a>
        {% endif %}
        <br />
        {% if feed.articles.all()|count != 0 %}
            {{ _('The last article was posted') }} {{ elapsed.days }} {{ _('day(s) ago.') }}<br />
            {{ _('Daily average') }}: {{ average }}, {{ _('between the') }} {{ first_post_date | datetime }} {{ _('and the') }} {{ end_post_date | datetime }}.
        {% endif %}
        </p>
    </div>
    <div class="jumbotron">
        {% if feed.articles.all()|count != 0 %}
            <div>{{ tag_cloud|safe }}</div>
        {% endif %}
    </div>
</div><!-- /.container -->
{% endblock %}
